.showtitle{
  font-size:2em;
  color: #cf2820;
}


.elemgenre{
  color:#cf2820;
}


.elemgenre li{
  color: black;
}


.rating{
  color:#cf2820;
}


.ratingnum{
  color: black;
}


body{
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(tv.jpg) no-repeat center center fixed;
  background-size: cover;
}



#lightbox {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.9);
  display:none;
 
}


#message {
    width:80%;
    padding:20px;
    background-color: #5f0803;
    color: white;
    text-align:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

   
    /* Center the message in the lightbox */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
#button{
  background-color: #cf2820;
  transition: all 0.4s ease;
  border: 1px solid black;
  color: white;
  height: 36px;
  width: 200px;
  border-radius: 2px;
}


#button:hover{
  background-color: white;
  color: black;
}



#search{
  height: 30px;
  width: 250px;
  padding-right: 5px;
  border: 1px solid black;
  border-radius: 2px;
}




#btns{
  width: 475px;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#title{
  text-align: center;
  font-family: "Bungee Tint", sans-serif;
  font-size: 100px;
  padding-top: 150px;
}

#output{
  color: black;
}


#main{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 550px;
  margin: auto;
  padding: 15px;
}


#main img{
  width: 400px;
  height: auto;
}


#main a{
  color:#cf2820;
}

#main a:hover{
  color: black;
}



@media (max-width: 1200px){
  #title{
    font-size: 65px;
    height: 170px;
  }
  #btns{
    margin-top: 0px;
  }
}




@media (max-width: 800px) {
  #button{
      width: 150px;
  }
  #search{
      width: 200px;
  }
  #btns{
      width: 450px;
      padding-left: 70px;
  }
  #title{
      font-size: 60px;
      height: 60px;
  }
  #main{
    margin-top: 190px;
    
  }
}



